button{
    padding: 10px;
    margin: 10px;
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}
#box{
    width: 90%;
    border: 2px solid black;
    margin: 100px auto 0px;
}
img{
    width: 200px;
    margin: 20px;
    border-radius: 3px;
}